################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/TinyWeChatClient/v17/ipch/AutoPCH/fe0ee38599510158/MOC_CHATWIDGET.ipch
/.vs/TinyWeChatClient/v17/ipch/AutoPCH/fe0ee38599510158
/.vs/TinyWeChatClient/v17/ipch/AutoPCH/e85776970a210452/CHATWIDGET.ipch
/.vs/TinyWeChatClient/v17/ipch/AutoPCH/e85776970a210452
/.vs/TinyWeChatClient/v17/ipch/AutoPCH/b5fbb131e994d1e4/MOC_DATABASEDELEGATE.ipch
/.vs/TinyWeChatClient/v17/ipch/AutoPCH/b5fbb131e994d1e4
/.vs/TinyWeChatClient/v17/ipch/AutoPCH/9fea54fbcb48d560/DATABASEDELEGATE.ipch
/.vs/TinyWeChatClient/v17/ipch/AutoPCH/9fea54fbcb48d560
/.vs/TinyWeChatClient/v17/ipch/AutoPCH/2d5fab05a6b3b524/CHATWIDGETMANAGER.ipch
/.vs/TinyWeChatClient/v17/ipch/AutoPCH/2d5fab05a6b3b524
/.vs/TinyWeChatClient/v17/ipch/AutoPCH
/.vs/TinyWeChatClient/v17/fileList.bin
/.vs/TinyWeChatClient/v17/Browse.VC.opendb
/.vs/TinyWeChatClient/v17/Browse.VC.db-wal
/.vs/TinyWeChatClient/v17/Browse.VC.db-shm
/.vs/TinyWeChatClient/v17/Browse.VC.db
/.vs/TinyWeChatClient/v17/.suo
/.vs/TinyWeChatClient/v17
/.vs/TinyWeChatClient/v16/ipch/AutoPCH/e85776970a210452/CHATWIDGET.ipch
/.vs/TinyWeChatClient/v16/ipch/AutoPCH/e85776970a210452
/.vs/TinyWeChatClient/v16/ipch/AutoPCH/bcf6f9d1e048e2f4/MYSTACKEDWIDGET.ipch
/.vs/TinyWeChatClient/v16/ipch/AutoPCH/bcf6f9d1e048e2f4
/.vs/TinyWeChatClient/v16/ipch/AutoPCH/b80a8b6c828fecd8/MYCHATMESSAGEQUICKWID.ipch
/.vs/TinyWeChatClient/v16/ipch/AutoPCH/b80a8b6c828fecd8
/.vs/TinyWeChatClient/v16/Browse.VC.db
/.vs/TinyWeChatClient/v16/.suo
/.vs/TinyWeChatClient/v16/ipch/AutoPCH/9fea54fbcb48d560/DATABASEDELEGATE.ipch
/.vs/TinyWeChatClient/v16/ipch/AutoPCH/9fea54fbcb48d560
/.vs/TinyWeChatClient/v16/ipch/AutoPCH/951954b161bed167/LASTCHATINFOUPDATETHREAD.ipch
/.vs/TinyWeChatClient/v16/ipch/AutoPCH/951954b161bed167
/.vs/TinyWeChatClient/v16/ipch/AutoPCH/70acdd9862c483fc/SINGLECHATMESSAGEJSONDATA.ipch
/.vs/TinyWeChatClient/v16/ipch/AutoPCH/70acdd9862c483fc
/.vs/TinyWeChatClient/v16/ipch/AutoPCH/700345d523cb08f5/MAIN.ipch
/.vs/TinyWeChatClient/v16/ipch/AutoPCH/700345d523cb08f5
/.vs/TinyWeChatClient/v16/ipch/AutoPCH/3bfb8fe0c5947bea/LASTCHATINFOUPDATETHREAD.ipch
/.vs/TinyWeChatClient/v16/ipch/AutoPCH/3bfb8fe0c5947bea
/.vs/TinyWeChatClient/v16/ipch/AutoPCH/33c26fe66193d76/TCPCONNECT.ipch
/.vs/TinyWeChatClient/v16/ipch/AutoPCH/33c26fe66193d76
/.vs/TinyWeChatClient/v16/ipch/AutoPCH/2d5fab05a6b3b524/CHATWIDGETMANAGER.ipch
/.vs/TinyWeChatClient/v16/ipch/AutoPCH/2d5fab05a6b3b524
/.vs/TinyWeChatClient/v16/ipch/AutoPCH
/.vs/TinyWeChatClient/FileContentIndex/read.lock
/.vs/TinyWeChatClient/FileContentIndex/916d5dd7-82a6-4e34-8ed5-7f5bc26d26ad.vsidx
/.vs/TinyWeChatClient/FileContentIndex
/.vs/TinyWeChatClient/config/applicationhost.config
/.vs/TinyWeChatClient/config
/.vs/TinyWeChatClient
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/.vs/VSWorkspaceState.json
/x64/Debug/qmake
/x64/Release/qmake/temp
/x64/Release/qmake
/TODO.cpp
/TinyWeChatClient.aps
/TinyWeChatClient.vcxproj.user
